.centro{
    text-align: center;
    color: black;
    
}


.bordo{
    border: 2px solid black;
    border-top: none;
    border-left: none;
    
    
       
    
}

.ultimo_bordo_no{
    border-right: none;
    border-bottom: none;
}
.bordo_sotto_no{
    border-bottom: none;
}

.bordo_destra_no{
    border-right: none;
}

td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;  
}
table{
    border-collapse: collapse;
}